<%layout('layout') -%>




<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1>Just buy it!</h1>
        <p>E-shop.</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up &raquo;</a></p>
    </div>
</div>

    <hr>
